.container {
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  float: left;
  width: 39%;
  text-align: center;
}
img {
  width: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.MenuList {
  float: right;
  width: 59%;
  text-align: center;
}
ul {
  display: flex;
  align-items: center;
  float: right;
  list-style: none;
}
li {
  color: white;
  margin: 10px 20px 0px 0px;
  display: inline-block;
  cursor: pointer;
}
a {
  all: unset;
  text-decoration: none;
  font-size: 12px;
}
a.active,
a:hover {
  border-top: 4px solid #4acaff;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
