<div class="line"></div>
<!--about start here-->
<div class="intro">
  <div class="container">
    <!-- <app-register></app-register> -->
    <div class="intro-main">
      <h2>We're leaders in</h2>
      <h3>Creative Digital Recruitmemt</h3>
      <span class="b"> </span>
      <p>
        Based in Surry Hills, the creative hub of Sydney we are surrounded by
        creativity<br />and that reflects on the type of jobs we recruit for.
      </p>
      <h4><a routerLink="#"> FIND OUT MORE ABOUT US!</a></h4>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="strip"></div>
  <div class="contant">
    <div class="container">
      <div class="contant-main">
        <h3>Subscribe to our Job Seeker Mailing List</h3>
        <form>
          <span class="search">
            <input
              type="text"
              value="Enter Your Email Address"
              onfocus="this.value = '';"
              onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}" />
            <input type="submit" value=""
          /></span>
        </form>
      </div>
    </div>
  </div>
  <div class="strip"></div>
  <div class="footer-h">
    <div class="container">
      <div class="footer-main">
        <div class="col-md-6 footer-left">
          <p class="data">
            <a href="mailto:example@mail.com"> suthardeepak257@gmail.com </a>
            <span class="d"> </span>
          </p>
          <p>
            Copyright 2023 &copy;
            <a href="https://github.com/suthardeeepak14" target="_blank"
              >Github</a
            >
          </p>
        </div>
        <div class="col-md-6 footer-right">
          <ul>
            <li>
              <a href="http://www.facebook.com"> <span class="x"> </span> </a>
            </li>
            <li class="m">692</li>
            <li>
              <a href="http://www.twitter.com"> <span class="y"> </span> </a>
            </li>
            <li class="r">117</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
